@model Dont_Panic_MVC_API.Models.RegisterProviderViewModel

@{
    ViewBag.Title = "Signup" ;
}

<h2>Signup</h2>


<div class="container">
    <h2>Signup to become a don't panic service provider and access leads for jobs and grow your business</h2>

    <br />
    <div>

        @using (Html.BeginForm("ProviderSignupDetails", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary(true)

        @Html.HiddenFor(Model => Model.businessName)
        @Html.HiddenFor(Model => Model.UserName)
        @Html.HiddenFor(Model => Model.email)
        @Html.HiddenFor(Model => Model.Password)
        @Html.HiddenFor(Model => Model.ConfirmPassword)

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.LabelFor(Model => Model.address, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.address)
                    @Html.ValidationMessageFor(Model => Model.address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.about, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.about)
                    @Html.ValidationMessageFor(Model => Model.about)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.services, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.services)
                    @Html.ValidationMessageFor(Model => Model.services)
                </div>
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.availability, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.availability)
                @Html.ValidationMessageFor(Model => Model.availability)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.description)
                @Html.ValidationMessageFor(Model => Model.description)
            </div>
        </div>
                  
         <div class="form-group">
            @Html.LabelFor(Model => Model.areas_serviced, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.areas_serviced)
                @Html.ValidationMessageFor(Model => Model.areas_serviced)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.contact_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.contact_name)
                @Html.ValidationMessageFor(Model => Model.contact_name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.contact_number_1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.contact_number_1)
                @Html.ValidationMessageFor(Model => Model.contact_number_1)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.contact_number_2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.contact_number_2)
                @Html.ValidationMessageFor(Model => Model.contact_number_2)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.website_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.website_address)
                @Html.ValidationMessageFor(Model => Model.website_address)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>

        }
    </div>

