@model Dont_Panic_MVC_API.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign up";
}

<br />
<div class="container rounded-corners">

    <h2 class="centertext"><font color="#65B5A2">create</font> account</h2>
    <hr />
    @using (Html.BeginForm("Signup", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="container-form">
            <div class="form-group">

                @Html.LabelFor(m => m.first_name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.first_name, new { @class = "form-control", @placeholder = "John" })
                @Html.ValidationMessageFor(m => m.first_name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.last_name, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.last_name, new { @class = "form-control ", @placeholder = "Doe" })
                @Html.ValidationMessageFor(m => m.last_name)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "JohnDoe" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.email, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "john.doe@someprovider.com" })
                @Html.ValidationMessageFor(m => m.email)
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.phoneNumber, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control",type="number", @placeholder = "1234567" })
                @Html.ValidationMessageFor(m => m.phoneNumber)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-enter Password" })

                @Html.ValidationMessageFor(m => m.ConfirmPassword)

            </div>

            <div class="form-group">
                <input type="submit" class="btn-dontpanic" value="Sign up" />
            </div>
        </div>
    }



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
