@model Dont_Panic_MVC_API.Models.API_Models.ServiceProvider

@{
    ViewBag.Title = "Create";
}

<h2>Register service</h2>


<div class="container">
    <h2>Register to become a don't panic service provider</h2>
    <br />
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr/>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.business_name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.business_name)
                        @Html.ValidationMessageFor(model => model.business_name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.address)
                        @Html.ValidationMessageFor(model => model.address)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.about, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.about)
                        @Html.ValidationMessageFor(model => model.about)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.services, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.services)
                        @Html.ValidationMessageFor(model => model.services)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.areas_serviced, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.areas_serviced)
                        @Html.ValidationMessageFor(model => model.areas_serviced)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.availability, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.availability)
                        @Html.ValidationMessageFor(model => model.availability)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.description)
                        @Html.ValidationMessageFor(model => model.description)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.contact_name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.contact_name)
                        @Html.ValidationMessageFor(model => model.contact_name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.contact_number_1, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.contact_number_1)
                        @Html.ValidationMessageFor(model => model.contact_number_1)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.contact_number_2, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.contact_number_2)
                        @Html.ValidationMessageFor(model => model.contact_number_2)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email)
                        @Html.ValidationMessageFor(model => model.email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.website_address, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.website_address)
                        @Html.ValidationMessageFor(model => model.website_address)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
