<!DOCTYPE html>
@using Dont_Panic_MVC_API.Models;
@using System.Web.Security;
@using Microsoft.AspNet.Identity;

@{
    Dont_Panic_MVC_API.API_Models.IdentityManager im = new Dont_Panic_MVC_API.API_Models.IdentityManager();
    if (Session["Login"] == null)
         {
             Response.Redirect("~/Home/Protect");
         }
}

<link rel="icon" type="img/png" href="~/Images/Favicon3.png">
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Good Job</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Add custom CSS here -->
    <link href="~/Content/simple-sidebar.css" rel="stylesheet">
    <link href="~/Content/dontpanic.css" rel="stylesheet">
    <link href="~/Content/docs.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/social-buttons.css" rel="stylesheet">
    <link href="~/Content/jasny-bootstrap.css" rel="stylesheet">
    <link href="~/Content/ladda-themeless.min.css" rel="stylesheet">

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="~/Content/owl.carousel.css">

    <!-- Default Theme -->
    <link rel="stylesheet" href="~/Content/owl.theme.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top drop-shadow green-border">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><font color="#65B5A2">good</font><font color="#424242">job</font></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (im.UserContainsRole(User.Identity.GetUserId(), "User"))
                        {
                            <li @if (@ViewContext.RouteData.GetRequiredString("action").ToLower() == "index" && @ViewContext.RouteData.GetRequiredString("controller").ToLower() == "job") { @Html.AttributeEncode("class=active")                        ; }>
                                @Html.ActionLink("current jobs", "Index", "Job")
                            </li>
                            <li @if (@ViewContext.RouteData.GetRequiredString("action").ToLower() == "previous" && @ViewContext.RouteData.GetRequiredString("controller").ToLower() == "job") { @Html.AttributeEncode("class=active")                        ; }>

                                @Html.ActionLink("previous jobs", "Previous", "Job")
                            </li>
                            <li @if (@ViewContext.RouteData.GetRequiredString("action").ToLower() == "create" && @ViewContext.RouteData.GetRequiredString("controller").ToLower() == "job") { @Html.AttributeEncode("class=active")                       ; }>

                                @Html.ActionLink("post job", "Create", "Job")
                            </li>
                        }
                        else if (im.UserContainsRole(User.Identity.GetUserId(), "Provider"))
                        {
                            <li @if (@ViewContext.RouteData.GetRequiredString("action").ToLower() == "index" && @ViewContext.RouteData.GetRequiredString("controller").ToLower() == "job") { @Html.AttributeEncode("class=active")                       ; }>

                                @Html.ActionLink("current jobs", "Index", "Job")
                            </li>
                            <li @if (@ViewContext.RouteData.GetRequiredString("action").ToLower() == "previous" && @ViewContext.RouteData.GetRequiredString("controller").ToLower() == "job") { @Html.AttributeEncode("class=active")                       ; }>

                                @Html.ActionLink("previous jobs", "Previous", "Job")
                            </li>
                            <li @if (@ViewContext.RouteData.GetRequiredString("action").ToLower() == "browse" && @ViewContext.RouteData.GetRequiredString("controller").ToLower() == "job") { @Html.AttributeEncode("class=active")                       ; }>

                                @Html.ActionLink("browse jobs", "Browse", "Job")
                            </li>
                            <li @if (@ViewContext.RouteData.GetRequiredString("action").ToLower() == "purchasetokens" && @ViewContext.RouteData.GetRequiredString("controller").ToLower() == "account") { @Html.AttributeEncode("class=active")                       ; }>

                                @Html.ActionLink("purchase tokens", "PurchaseTokens", "Account")
                            </li>
                        }

                    }
                    else
                    {
                        <li @if (@ViewContext.RouteData.GetRequiredString("controller").ToLower() == "job") { @Html.AttributeEncode("class=active")                        ; }>

                            @Html.ActionLink("post job", "Create", "Job")


                        </li>
                    }


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @if (@Url.Action().Equals("/") || @Url.Action().ToLower().Equals("/home/index"))
    {
        @RenderBody()
    }
    <div class="contentBackground body-content">
        @try
        {
            @RenderBody()
            <br />
        }
        catch (Exception e)
        {

        }
    </div>




    <br />
    <div class="supportBar">
        <p>
            <a href="/Home/About">About</a> | <a href="/Home/Contact">Contact</a> | <a href="/Home/Support">Support</a>

        </p>
    </div>
    <div class="footerBar">
        <footer>
            <p>&copy; @DateTime.Now.Year - Rarespawn</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/jasny-bootstrap.min.js")
    @Scripts.Render("~/Scripts/spin.min.js")
    @Scripts.Render("~/Scripts/ladda.min.js")
    @Scripts.Render("~/Scripts/owl.carousel.min.js");


</body>
</html>
