@model IEnumerable<Dont_Panic_MVC_API.Models.API_Models.Job>

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing jobs</h2>

@foreach (var item in Model)
{
    <div class="jumbotron">
        @Html.ActionLink(item.title, "Details", new { id = item.jobid }, new { @style = "text-transform:capitalize;" }) 

        <p class="small">@item.description</p>
        <blockquote>
            <small>Located in: @item.city</small>
        </blockquote>
        <p class="text-primary small">Posted by: @item.UserId</p>

    </div>
}

<p>
    @Html.ActionLink("Create your own job", "Create")
</p>