@model IEnumerable<Dont_Panic_MVC_API.Models.API_Models.Job>

@{
    ViewBag.Title = "Browse";
}
<div class="container">
    <h2 class="green-text">Available jobs</h2>
    @foreach (var item in Model)
    {
        <div class="jumbotron drop-shadow-lite">
            <h2>@Html.ActionLink(item.title, "Details", new { id = item.jobid }, new { @style = "color:#65B5A2;" }) </h2>
            <p style="font-size:14px">@item.description</p>


            <div class="row">
                <div class="col-md-4">
                    <p class="text-primary" style="font-size:12px">Category: @item.jobtype</p>
                </div>
                <div class="col-md-4">
                    <p class="text-primary" style="font-size:12px">Located in: @item.city</p>
                </div>
                <div class="col-md-4">
                    <p class="text-primary" style="font-size:12px">Posted by: @item.username</p>
                </div>
                <div class="col-md-4">
                    <p class="text-info" style="font-size:12px">Created on: @item.submitDate</p>
                </div>
                <div class="col-md-4">
                    <p class="text-info" style="font-size:12px">Expires on: @item.expireDate</p>
                </div>
            </div>

        </div>
    }
    <p>
        @Html.ActionLink("Create your own job", "Create")
    </p>
</div>