@model IEnumerable<Dont_Panic_MVC_API.Models.API_Models.Job>

@{
    ViewBag.Title = "Browse";
}
<div class="container">
    <h2 class="green-text">Available jobs</h2>
    @foreach (var item in Model)
    {
        <div class="jumbotron">
            <h2>@Html.ActionLink(item.title, "Details", new { id = item.jobid }, new { @style = "color:#65B5A2;" }) </h2>
            <p style="font-size:14px">@item.description</p>
            <blockquote>
                <small style="font-size:10px">Located in: @item.city</small>
            </blockquote>
            <p class="text-primary" style="font-size:10px">Posted by: @item.UserId</p>

        </div>
    }
    <p>
        @Html.ActionLink("Create your own job", "Create")
    </p>
</div>