@model IEnumerable<Dont_Panic_MVC_API.Models.API_Models.Job>

@{
    ViewBag.Title = "Browse Jobs";
}
<br />
<div class="container drop-shadow-lite browse-jobs-block">
    <h3 class="centertext"><font color="#65B5A2">browse</font> jobs</h3>
    @foreach (var item in Model)
    {
        <div class="job-block drop-shadow-lite">
            <h3>@Html.ActionLink(item.title, "Details", new { id = item.jobid }, new { @style = "color:#65B5A2;" }) </h3>
            <p style="font-size:14px">@item.description</p>


            <div class="row">
                <div class="col-md-4">
                    <p class="text-primary" style="font-size:12px">Category: @item.jobtype</p>
                </div>
                <div class="col-md-4">
                    <p class="text-primary" style="font-size:12px">Located in: @item.city</p>
                </div>
                <div class="col-md-4">
                    <p class="text-primary" style="font-size:12px">Posted by: @item.username</p>
                </div>
                <div class="col-md-4">
                    <p class="text-info" style="font-size:12px">Created on: @item.submitDate</p>
                </div>
                <div class="col-md-4">
                    <p class="text-info" style="font-size:12px">Expires on: @item.expireDate</p>
                </div>
            </div>

        </div>
        <br />
    }
    <p>
        @Html.ActionLink("Create your own job", "Create")
    </p>
</div>