@model Dont_Panic_MVC_API.Models.API_Models.Job
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Job Details";
}

@{
    Dont_Panic_MVC_API.API_Models.IdentityManager im = new Dont_Panic_MVC_API.API_Models.IdentityManager();

}
<br />
<div class="container drop-shadow browse-jobs-block">
    <h3 class="centertext"><font color="#65B5A2">job</font> details</h3>
    <br />
    <br />
    <div class="job-block drop-shadow-lite">


        <div class="row">
            @if (Model.photo != "")
            {
                <div class="col-md-3"><img src="@Url.Content(Model.photo)" class="img-responsive job-block-image img-rounded" height="150" width="150" /></div>
            }
            else
            {
                <div class="col-md-3"><img src="~/Images/nophotoavailable.jpg" class="img-responsive job-block-image img-rounded" /></div>
            }
            <div class="col-md-9">
                <p class="job-block-title">@Model.title</p>

                <p style="font-size:14px">@Model.description</p>

                <div class="row">
                    <div class="job-block-detail-left col-md-6">
                        <p class="text-primary">
                            Category: @Model.jobtype<br />Located in: @Model.region<br />
                            Posted by: @Model.username
                        </p>

                    </div>
                    <div class="job-block-detail-right col-md-6">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Provider"))
                            {
                                using (Html.BeginForm("AcquireLead", "Job",FormMethod.Post))
                                {
                                    @Html.Hidden("jobid", @Model.jobid);
                                    <input type="submit" value="Buy Job" class="btn-dontpanic" />
                                }
                            }
                            else
                            {
                                <p class="text-primary">
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.jobid }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = Model.jobid })
                                </p>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />


    <p>
        @if (User.Identity.IsAuthenticated)
        {

            if (User.Identity.GetUserId().Equals(Model.jobid))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.jobid });
            }
            @Html.ActionLink("Back to your jobs", "Index");
        }
        else
        {
            @Html.ActionLink("Back to browsing", "Browse")
        }
    </p>
</div>
