@model Dont_Panic_MVC_API.Models.API_Models.Job
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Job Details";
}


<div class="container">
    <h2>Job details</h2>
    <h4>model.title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobtype)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {

        if (User.Identity.GetUserId().Equals(Model.jobid))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.jobid }); 
        }
        @Html.ActionLink("Back to your jobs", "Index");
    }
    else
    {
        @Html.ActionLink("Back to browsing", "Browse")
    }
</p>
