@model Dont_Panic_MVC_API.Models.API_Models.Job
@using Dont_Panic_MVC_API.Controllers.API_Controllers;
@using Dont_Panic_MVC_API.Models.API_Models;


@{
    ViewBag.Title = "Job Details";
}
@using Microsoft.AspNet.Identity;
@{
    Dont_Panic_MVC_API.API_Models.IdentityManager im = new Dont_Panic_MVC_API.API_Models.IdentityManager();

}
<br />
<div class="container drop-shadow browse-jobs-block">
    <h3 class="centertext"><font color="#65B5A2">job</font> details</h3>
    <h2 class="green-text">@Model.title</h2>
    <br />

    @{
        PhotoAPI api = new PhotoAPI();
        List<Photos> photos = api.getPhotos(Model.jobid);
    }


    <div class="job-block drop-shadow-lite">


        <div id="job-images-carousel" class="carousel slide" data-ride="carousel">
            @if (photos != null)
            {
            <!-- Indicators -->
                <ol class="carousel-indicators">
                    @if (photos.Count > 1)
                    {

                        for (int i = 0; i < photos.Count; i++)
                        {
                            if (i == 0)
                            {
                                <li data-target="#job-images-carousel" data-slide-to=@i.ToString() class="active"></li>
                            }
                            else
                            {
                                <li data-target="#job-images-carousel" data-slide-to=@i.ToString()></li>
                            }

                        }
                    }
                </ol>

            <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @for (int i = 0; i < photos.Count; i++)
                    {
                        if (i == 0)
                        {
                            <div class="item active">
                                <img src="@Url.Content(photos[i].photo)" class="img-responsive ">
                                <div class="carousel-caption">
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="item">
                                <img src="@Url.Content(photos[i].photo)" class="img-responsive ">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        }
                    }

                </div>


            <!-- Controls -->
                if (photos.Count > 1)
                {

                    <a class="left carousel-control" href="#job-images-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#job-images-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                }
            }
            else
            {
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/nophotoavailable.jpg">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
            }
        </div>

        <p class="job-details-description-title">Description</p>
        <p class="job-details-description-text">@Model.description</p>
        <p class="job-details-description-information">@Model.region - @Model.jobtype</p>
        <div class="layer3">
            @if (User.Identity.IsAuthenticated)
            {
                if (im.UserContainsRole(User.Identity.GetUserId(), "Provider"))
                {
                    <h4>Contact Details:</h4>
                    if (@Model.leadsAccquired == 3)
                    {
                        <p>No more leads remaining</p>
                    }
             
                    else
                    {
                        JobServiceAPI apiJ = new JobServiceAPI();
                        if (apiJ.ownsJob(Model.jobid, User.Identity.GetUserId()))
                        {
                                                    <p>You already own this job!</p>

                        }
                        else { 
                        <p>This job is locked. To unlock contact details, you must acquire a lead.</p>
                     //   using (Html.BeginForm("AcquireLead", "Job", FormMethod.Post))
                      //  {
                          //  @Html.Hidden("jobid", @Model.jobid);
                          
                          ServiceAPI apiSer = new ServiceAPI();
                          int tokens = apiSer.getTokens(User.Identity.GetUserId());
                          
                <input type="submit" value="Acquire" class="btn-dontpanic" onclick="acquire(@Model.jobid, @tokens)" />
                
                <script>
                    function acquire(jobid, tokens) {

                        if (tokens == null || tokens == 0) {
                            $('#notEnoughTokens').modal('show');
                        }
                        else {
                            $('#acquireConfirmation').modal('show');
                        }
                    }
               </script>
                
<div class="modal fade" id="notEnoughTokens">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">You do not have enough tokens to acquire this lead!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Purchase tokens</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
     
<div class="modal fade" id="acquireConfirmation">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Are you sure you want to acquire this lead?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          @using (Html.BeginForm("AcquireLead", "Job", FormMethod.Post))
            {
           @Html.Hidden("jobid", @Model.jobid);
         <input type="submit" value="Yes" class="btn btn-primary"/>
          }
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->           

                        
                    }
                }}
                else
                {

                    <h4>Manage job:</h4>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.jobid }) |
                        @Html.ActionLink("Delete", "Delete", new { id = Model.jobid })
                    </p>

                }
            }
        </div>
        <br />

    </div>
    <br />


    <p>
        @if (User.Identity.IsAuthenticated)
        {

            if (User.Identity.GetUserId().Equals(Model.jobid))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.jobid });
            }
            @Html.ActionLink("Back to your jobs", "Index");
        }
        else
        {
            @Html.ActionLink("Back to browsing", "Browse")
        }
    </p>
</div>
