@model IEnumerable<Dont_Panic_MVC_API.Models.API_Models.Job>

@{
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
    ViewBag.Title = "Your jobs";
}

<h2>Your jobs</h2>

<p>
    @Html.ActionLink("Create New Job", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobtype)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobtype)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.jobid }) |
            @Html.ActionLink("Details", "Details", new { id=item.jobid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.jobid })
        </td>
    </tr>
}

</table>
