@model IEnumerable<Dont_Panic_MVC_API.Models.API_Models.Job>

@{
    ViewBag.Title = "Previous Jobs";
}


<br />
<div class="container drop-shadow browse-jobs-block">
    <h3 class="centertext"><font color="#65B5A2">previous</font> jobs</h3>
    <br />
    @if (Model.Count() == 0)
    {
        <p>
            You have no previous jobs. @Html.ActionLink("Post a new job now.", "Create", new { @style = "color:#65B5A2;" })
        </p>

    }
    else
    {
        <p>
            @Html.ActionLink("Post a job", "Create", new { @style = "color:#65B5A2;" })
        </p>
    }
    <br />
    @foreach (var item in Model)
    {
        if (item.expireDate < DateTime.Now)
        {
            <div class="job-block drop-shadow-lite">

                <div class="row">
                    @if (item.photo != null)
                    {
                        <div class="col-md-3"><img src="@Url.Content(item.photo)" alt="IMAGES" class="img-responsive job-block-image img-rounded" height="150" width="150" /></div>
                    }
                    else
                    {
                        <div class="col-md-3"><img src="~/Images/nophotoavailable.jpg" class="img-responsive job-block-image img-rounded" /></div>
                    }
                    <div class="col-md-9">
                        <p class="job-block-title">@Html.ActionLink(item.title, "Details", new { id = item.jobid }, new { @style = "color:#497769;" }) </p>

                        <p style="font-size:14px">@item.description</p>

                        <div class="row">
                            <div class="job-block-detail-left col-md-6">
                                <p class="text-primary" style="font-size:12px">Category: @item.jobtype<br />Located in: @item.region</p>
                            </div>
                            <div class="job-block-detail-right col-md-6">

                                <input type="button" onclick="location.href='/Job/Details/@item.jobid'" value="View Job" class="btn-dontpanic" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
        }
    }
</div>