@model IEnumerable<Dont_Panic_MVC_API.Models.API_Models.Job>
@using Dont_Panic_MVC_API.Controllers.API_Controllers;
@using Dont_Panic_MVC_API.Models.API_Models;

<script type="text/javascript" language="javascript">
    function showpic(id) {
        $('#' + id).modal('show');
    }
</script>

@{
    ViewBag.Title = "Previous Jobs";
}
@using Microsoft.AspNet.Identity;
@{
    Dont_Panic_MVC_API.API_Models.IdentityManager im = new Dont_Panic_MVC_API.API_Models.IdentityManager();

}

<br />



<div class="container drop-shadow browse-jobs-block">
    <h3 class="centertext"><font color="#65B5A2">previous</font> jobs</h3>
    <br />
    @if (Model.Count() == 0)
    {
        <p>
            You have no previous jobs.
            @if (im.UserContainsRole(User.Identity.GetUserId(), "User"))
            {
                @Html.ActionLink("Post a new job now.", "Create", new { @style = "color:#65B5A2;" })
            }
        </p>

    }
    else
    {
        <h5>These are your jobs that have expired</h5>
    }
    <br />
    @foreach (var item in Model)
    {
        <div class="row job-block drop-shadow-lite">
            <br />
            @{
        PhotoAPI api = new PhotoAPI();
        Photos firstPhoto = api.getFirstPhoto(item.jobid);
            }

            @if (firstPhoto == null)
            {

                <div class="col-md-3"><img src="~/Images/nophotoavailable.jpg" class="img-rounded drop-shadow-lite img-responsive" width="200" height="200" /></div>

            }
            else
            {
                <div class="col-md-3"><a href="#" onclick="showpic(@item.jobid)"><img src="@Url.Content(firstPhoto.photo)" class="img-rounded drop-shadow-lite img-responsive " height="200" width="200" /></a></div>


                <div class="modal fade" id="@item.jobid">
                    <div class="modal-dialog modal-dialog-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Enlarged Image.</h4>
                            </div>
                            <div class="modal-body center-content">
                                <img src="@Url.Content(firstPhoto.photo)" id="enlargedImage" class="img-responsive" />
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            }




            <div class="col-md-9">
                <p>
                    @Html.ActionLink(item.title, "Details", new { id = item.jobid }, new { @style = "color:#497769;", @class = "job-block-title" })<br />
                    @item.description
                </p>

                <div class="row">
                    <div class="job-block-detail-left col-md-6">
                        <p class="text-primary" style="font-size:12px">
                            Category: @item.jobtype<br />Located in: @item.region
                        </p>
                    </div>

                    <div class="job-block-detail-right col-md-6">
                        @using (Html.BeginForm("RepostJob", "Job", FormMethod.Post))
                        {
                            @Html.Hidden("jobid", @item.jobid);
                            <input type="submit" value="Repost Job" class="btn-dontpanic" />
                        }
                    </div>

                </div>
            </div>
        </div>
        <br />
    }

</div>